.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.playBut {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}
  
.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  transform: translateY(0) 
}


.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
  animation: nudge 0.7s ease-in-out;

  @keyframes nudge{
    0% {
      transform: translateX(0)  
    }
    30% {
      transform: translateX(-5px)
    }
    50% {
      transform: translateX(5px)
    }
    70% {
      transform: translateX(-2px)
    }
    100% {
      transform: translateX(0)
    }
  }
}

/*
.circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

  }
}
*/
