.grid #canvas {
  border: solid;
}

.play-button {
  border-width: 37p 0px 37px 74px;
  border-color: red blue green yellow;
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
}
